<ion-card>
  <ion-card-header>
    <ion-card-subtitle>All Products</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-input type="text" placeholder="Product id" [(ngModel)]="searchString"></ion-input>
    <ion-button (click)="search()">Search</ion-button>
    <ion-text *ngIf="searchProducts.length === 0" color="error"><p>No result.</p></ion-text>
    <ion-list *ngIf="searchProducts.length > 0">
      <ion-item *ngFor="let product of searchProducts" (click)="redirect(product)">
        <ion-text>
          <p>{{product.productId}}</p>
          <h3>{{product.description}}</h3>
          <h5>${{product.pricePerUnit}}</h5>
          <p>In stock / Reorder: {{product.quantityOnHand}}/{{product.reorderQuantity}}</p>
        </ion-text>
      </ion-item>
    </ion-list>
    <ion-button (click)="search()">Refresh</ion-button>
  </ion-card-content>
</ion-card>
