<ion-card>
  <ion-card-header>
    <ion-card-title>Product Editor</ion-card-title>
    <ion-card-subtitle *ngIf="product.productId !== ''">id: {{product.productId}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-button (click)="refresh()">Refresh</ion-button>
    <ion-text *ngIf="product.productId === ''" color="danger" (click)="redirect()"><p>No item selected!</p></ion-text>
    <div *ngIf="product.productId !== ''">
      <p>Product Id</p>
      <ion-input type="text" [(ngModel)]="product.productId"></ion-input>

      <p>Description</p>
      <ion-textarea type="text" [(ngModel)]="product.description"></ion-textarea>

      <p>Quantity On Hand</p>
      <ion-input type="number" [(ngModel)]="product.quantityOnHand"></ion-input>

      <p>Price Per Unit</p>
      <ion-input type="number" [(ngModel)]="product.pricePerUnit"></ion-input>

      <p>Reorder Quantity</p>
      <ion-input type="number" [(ngModel)]="product.reorderQuantity"></ion-input>

      <ion-button (click)="confirm(false)">Edit</ion-button>
      <ion-button fill="outline" color="danger" (click)="confirm(true)">Delete</ion-button>
    </div>
  </ion-card-content>
</ion-card>
